@using WebApplication1_search.ViewModels
@model WebApplication1_search.ViewModels.ProductIndexViewModel

@{
    ViewData["Title"] = "Index";
    var product = Model.Data?.FirstOrDefault() ?? new ProductIndexItemViewModel();
}

<h1>Index</h1>


@* action沒寫動作執行後會在同一頁 *@

@* 篩選條件begin *@
<form method="get">
    @* name必須與ProductCriteria的屬性名稱相同，才會觸發ModelBinding *@
    @* 透過asp-for來達成篩選條件不清空 *@
	品名:<input type="text" name="productName" asp-for="@Model.Criteria.ProductName" /><br />
    售價:<input type="text" name="priceStart" asp-for="@Model.Criteria.PriceStart" /> ~ <input type="text" name="priceEnd" asp-for="@Model.Criteria.PriceEnd"/><br />
    <input type="submit" value="查詢" />
</form>
@* 篩選條件end *@

<table class="table">
    <thead>
        <tr>
            <th>
				@Html.DisplayNameFor(model => product.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => product.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => product.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => product.UnitPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
